
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */
body {
    font-family: sans-serif;
}

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
/* <1-fold SSSSS MAIN SSSSS */
main {
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/* #2-fold SSSSS CONTAINER SSSSS */
.container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #f2f2f2;
    color: black;
    border: 10px solid #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
.card.hidden {
    background-color: black;
    color: black;
    border-color: black;
}
.card.found::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: green;
    position: absolute;
    top: 10%;
    right: 10%;
}
.card.not-found::after {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: red;
    position: absolute;
    top: 10%;
    right: 10%;
}

/* #/2-fold EEEEE CONTAINER EEEEE */

/* #2-fold SSSSS TIMER SSSSS */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
}

/* #/2-fold EEEEE TIMER EEEEE */

/* </1-fold> EEEEE MAIN EEEEE */
