
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */
body {
    font-family: sans-serif;
}
/* #2-fold SSSSS SYMBOLS SSSSS */

/* #/2-fold> EEEEE SYMBOLS EEEEE */

/* #2-fold SSSSS LINKS SSSSS */

/* #/2-fold> EEEEE LINKS EEEEE */

/* #2-fold SSSSS QUOTE SSSSS */

/* #/2-fold> EEEEE QUOTE EEEEE */

/* #2-fold SSSSS BTNS SSSSS */

/* #/2-fold> EEEEE BTNS EEEEE */

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
/* <1-fold SSSSS MAIN SSSSS */
main {
    height: 100vh;
    background-color: lightgreen;
    display: flex;
}

/* #2-fold SSSSS CONTAINER SSSSS */
.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #f2f2f2;
    color: black;
    border: 10px solid #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.card.hidden {
    background-color: black;
    color: black;
    border-color: black;
}

/* #/2-fold EEEEE CONTAINER EEEEE */

/* </1-fold> EEEEE MAIN EEEEE */
